/* Styles for the Advanced Markup assignment. */

nav ul li {
	display: inline;
}

a.active {
	font-weight: bold;
}

#sidebar {
	width: 250px;
	float: right;
	background: gray;
	margin: 15px;
	padding: 5px;
	border: dotted 3px;
	
}

content {
	
}

